#section {
    align-items: center;
    background-repeat: no-repeat;
    background-image: radial-gradient(at 30% 10%, rgba(149, 147, 202, 0.15) 1%, transparent 30%),
        radial-gradient(ellipse, rgba(112, 105, 124, 0.15) 1%, transparent 60%),
        radial-gradient(ellipse, rgba(223, 95, 153, 0.15) 2%, transparent 50%);
    animation: bgGradientMovement 15s linear infinite;
}

#code {
    width: 70%;
    line-height: 20px;
}

#h1 {
    font-family: 'Saira';
    font-size: 3em;
    line-height: normal;

}

#em {
    font-style: inherit;
    color: #6200EE;
}

#p {
    color: rgb(128, 128, 128);
    font-size: 0.9em;
    font-weight: 400;
    font-family: 'Saira';
}

.btn {
    transition: all 120ms;
    border-style: none;
    border-radius: 8px;
    font-weight: 300;
    padding: 16px 32px;
    cursor: pointer;
}

#div {
    margin-top: 50px;
    display: flex;
    column-gap: 16px;
}

#btn1 {
    color: white;
    background-color: #6200EE;
    border: 1px solid #6200EE;
}

#btn2 {
    border: 1px solid yellow;
    background-color: transparent;
}

#btn2:hover {
    background-color: rgb(1, 3, 33);
    color: white;
}

#btn1:hover {
    background-color: white;
    color: #334C65;
    box-shadow: 0 0 15px -5px #334C65;
}

@keyframes bgGradientMovement {
    0% {
        background-position: 30vw 0, -10vw -20vh, 30vw 0;
    }

    40% {
        background-position: 40vw 0, 40vw 20vh, 40vw 0;
    }

    60% {
        background-position: 10vw 0, 10vw 18vh, -50vw 0;
    }

    100% {
        background-position: 30vw 0, -10vw -20vh, 30vw 0;
    }
}

@media all and (max-width:1200px) {
    #section {
        font-size: 0.8em;
    }

    #code {
        width: 100%;
        line-height: normal;
    }
}