@import url('https://fonts.cdnfonts.com/css/saira');

#section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
}

.article {
    margin-bottom: 50px;
    display: flex;
    gap: 35px;
    justify-content: space-between;
}

#apllicationList {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    overflow: clip;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 0 15px -8px grey;
    width: 235px;
    height: 350px;
}

.cards h1,
.cards p {
    margin: 10px;
}

.img {
    border-radius: 10px;
    width: 50%;

}

#btn1 {
    background-color: #6200EE;
    border: 1px solid #6200EE;
    color: white;
}

#btn1:hover {
    background-color: white;
    color: #6200EE;
    box-shadow: 0 0 15px -10px #6200EE;
}

#btn2 {
    color: #131f29;
    background-color: white;
    border: 1px solid #d5ee13;
}

#btn2:hover {
    color: white;
    background-color: #334C65;
}

#MiniBanner {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #334C65;
    width: 100%;
    color: white;
}

.btn {
    font-family: 'Saira';
    outline: none;
    border-style: none;
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: 400;
    margin: 5px 25px;
}

.p {
    width: 50%;
}

.imgs {
    width: 100%;
    object-fit: cover;
}

@media all and (max-width:1200px) {
    .article {
        flex-direction: column;
        padding: 10px;
    }

    .img,
    .p {
        width: 100%;
    }
}